@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@font-face {
  font-family: "Cicle Fina";
  src: url("./fonts/cicle_fina/Cicle_Fina.ttf");
}
@font-face {
  font-family: "Cicle Fina Italic";
  src: url("./fonts/cicle_fina/Cicle_Fina_Italic.ttf");
}
@font-face {
  font-family: "Century Gothic";
  src: url("./fonts/century_gothic/CenturyGothic.ttf");
  font-weight: 200;
}
@font-face {
  font-family: "Helvetica LT";
  src: url("./fonts/helveticaltultracompressed/HelveticaLTStd-UltraComp.otf");
}
@font-face {
  font-family: "ColaborateThin";
  src: url("./fonts/colaborate/ColabThi.otf");
}
@font-face {
  font-family: "ColaborateMed";
  src: url("./fonts/colaborate/ColabMed.otf");
}
/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*=========================================================================================================================================================================================================*/
* {
  box-sizing: border-box;
}

.container {
  width: 1044px;
  margin: 0px auto;
}

/*Header style*/

.header__input {
  display: flex;
  margin-top: 1px;
}
.header__input-wrapper {
  display: flex;
  background: #faa61a;
  max-width: 409px;
  height: 29px;
  align-items: center;
  padding: 0px 0px 0px 5px;
  margin-left: 670px;
}
.header__input {
  width: 224px;
  height: 19px;
  background: #ffffff;
  color: black;
  font-size: 10px;
}
.header__link {
  font-family: "Century Gothic";
  text-transform: uppercase;
  font-size: 14px;
  color: rgb(0, 0, 0);
  margin: 0px 10px 0px 5px;
}
.header__input-img {
  margin: 0px 5px;
}
.fb-img {
  margin: 0px 10px;
}

.header__logo-nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 30px;
  margin-bottom: 50px;
}
.header__logo {
  display: flex;
  align-items: baseline;
}
.header__logo-img {
  margin-right: 15px;
}
.header__logo-text {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 200;
  font-size: 41px;
}
.header__logo-text span {
  font-weight: 700;
}
.header__nav {
  display: flex;
  align-items: center;
}
.header__nav-img {
  margin-left: 10px;
}
.header__nav-text {
  font-family: "CicleFina";
  margin-left: 10px;
  font-size: 14px;
}

/*Body style*/

/*Body banner*/

.container {
  position: relative;
}

.body__banner {
  background: #faa61a;
  padding: 40px;
  margin-bottom: 40px;
}
.body__banner-title {
  font-size: 127px;
  font-family: "Helvetica LT";
  text-transform: uppercase;
}
.body__banner-wrapper {
  display: flex;
  justify-content: space-between;
}
.body__banner-project {
  display: flex;
}
.whight-bg-title {
  display: inline-block;
  background: white;
  font-size: 22px;
  font-family: "Bebas Neue", cursive;
  text-transform: uppercase;
  padding: 4px;
  padding-bottom: 2px;
  margin-bottom: 5px;
}
.text {
  font-family: "ColaborateThin";
  font-size: 18px;
  color: white;
  padding-left: 5px;
  margin-bottom: 15px;
}
.body__banner-information-discription-text {
  font-size: 14px;
  width: 160px;
}
.body__banner-information {
  width: 205px;
  background: black;
  padding: 25px 25px 0px 25px;
}
.body__banner-discription {
  width: 280px;
  background: white;
}
.body__banner-discription-title {
  font-size: 26px;
  font-family: "Bebas Neue", cursive;
  text-transform: uppercase;
  padding: 3px 0px 1px 15px;
  font-weight: 500;
}
.body__banner-discription-text {
  font-size: 15px;
  font-family: "ColaborateMed";
  width: 280px;
  color: black;
  padding: 15px;
  line-height: 1.376;
}
.body__button-readmore {
  display: flex;
  align-items: center;
}
.button-position1 {
  margin: 0px 0px 0px 175px;
}
.body__button-readmore-text {
  font-size: 14px;
  font-family: "ColaborateThin";
  background: black;
  padding: 7px;
  color: white;
}
.body__button-readmore-img-container {
  background: #faa61a;
  padding: 7px;
}
.body__banner-project-title {
  font-family: "Cicle Fina Italic";
  font-style: italic;
  background: black;
  width: 213px;
  height: 43px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  font-weight: 200;
  position: absolute;
  top: 185px;
  left: 20px;
}
.body__banner-project-img2 {
  position: absolute;
  top: 315px;
  left: 245px;
}
.body__banner-title-foto {
  position: absolute;
  top: 475px;
  left: 65px;
}
.body__banner-title-foto1 {
  margin-right: 5px;
}
.body__banner-title-foto2 {
  margin-right: 5px;
}

/*Body featured*/

.body__featured {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.body__featured-services {
  padding: 20px 35px 0px 40px;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}
.body__featured-services-title {
  font-size: 20px;
  font-family: "Bebas Neue", cursive;
  margin-bottom: 20px;
}
.body__featured-services-title-color {
  color: #faa61a;
}
.body__featured-services-list li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.body__featured-services-list-img-container {
  background: #faa61a;
  padding: 5px 5px 0px 5px;
  margin-right: 10px;
}
.body__featured-services-list-text {
  font-size: 18px;
  font-family: "CicleFina";
}
.body__featured-services-line1-container {
  width: 1px;
  height: 368px;
  background: grey;
  opacity: 0.2;
  margin-left: 15px;
  position: absolute;
  top: 590px;
  left: 275px;
}
.body__featured-services-line2-container {
  width: 1px;
  height: 368px;
  background: grey;
  opacity: 0.2;
  margin-left: 15px;
  position: absolute;
  top: 590px;
  left: 706px;
}
.body__featured-know {
  padding: 20px 40px 0px 40px;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}
.body__featured-know-title {
  font-size: 20px;
  font-family: "Bebas Neue", cursive;
  margin-bottom: 20px;
}
.body__featured-know-title-color {
  color: #faa61a;
}
.body__featured-know-text {
  width: 348px;
  font-size: 16px;
  font-family: "CicleFina";
  line-height: 1.5;
  margin-bottom: 30px;
}
.button-position2 {
  margin: 0px 0px 30px 248px;
}
.body__featured-contact {
  padding: 20px 30px 0px 40px;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}
.body__featured-contact-title {
  font-size: 20px;
  font-family: "Bebas Neue", cursive;
  margin-bottom: 20px;
  color: #faa61a;
}
.body__featured-contact-list li {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.letter-bg {
  width: 212px;
}
.body__featured-contact-list li:last-child {
  margin-bottom: 0px;
}
.body__featured-contact-img-container {
  margin-right: 10px;
}
.phone {
  margin-left: 8px;
  margin-right: 7px;
}
.letter {
  margin-left: 2px;
}
.house {
  margin-left: 1px;
}
.body__featured-contact-text {
  font-size: 16px;
  font-family: "Bebas Neue", cursive;
  color: white;
  text-transform: uppercase;
  background: black;
  padding: 4px;
}
.sute {
  display: inline-block;
  margin-top: 2px;
  margin-bottom: 3px;
  margin-left: 38.7px;
}
.lipsum {
  width: 159px;
  margin-left: 38.7px;
}

.body__featured-top1-elbow {
  position: absolute;
  top: 601px;
  left: 268px;
}
.body__featured-bottom1-elbow {
  position: absolute;
  top: 909px;
  left: 268px;
}
.body__featured-top2-elbow {
  position: absolute;
  top: 601px;
  left: 699px;
}
.body__featured-bottom2-elbow {
  position: absolute;
  top: 909px;
  left: 699px;
}

/*Body clients*/

.body__clients {
  padding: 0px 40px 0px 40px;
  margin-bottom: 50px;
  margin-top: 50px;
}
.body__clients-tittle {
  font-size: 20px;
  font-family: "Bebas Neue", cursive;
  text-transform: uppercase;
}
.body__clients-tittle-color {
  color: #faa61a;
}

/*Footer*/

.footer__logo-nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 8px;
}
.footer__logo {
  display: flex;
  align-items: baseline;
}
.footer__logo-img {
  margin-right: 10px;
  width: 30px;
  height: 32px;
}
.footer__logo-text {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 200;
  font-size: 25px;
}
.footer__logo-text span {
  font-weight: 700;
}
.footer__nav {
  display: flex;
  align-items: center;
}
.footer__nav-text {
  font-family: "Century Gothic";
  margin-left: 20px;
  font-size: 10px;
}
.footer__copyright {
  font-family: "Century Gothic";
  margin-left: 916px;
  font-size: 10px;
  padding-bottom: 20px;
  text-transform: uppercase;
}
.footer__line {
  width: 831px;
  height: 1px;
  background: grey;
  opacity: 0.4;
  position: absolute;
  top: 36px;
  left: 214px;
}

/* Слайдер */
.slider{
  max-width: 100%;
  max-height: 90%;
  position: relative;
  margin: 0px auto;
  padding: 10px 0;
  overflow: hidden;
}
.slider__wrapper {
  display: flex;
}

.output-error {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  font-size: 5vw;
  color: white;
  font-weight: bold;
  height: 50vw;
}

/* Картинка масштабируется по отношению к родительскому элементу */
.img {
  object-fit: cover;
}

/* Стиль для заголовка*/
.tittle {
  display: block;
  font-size: 40px;
  font-weight: bold;
  font-family: "Bebas Neue", cursive;
  text-align: center;
}
/* Кнопки вперед и назад */
.previous, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #faa61a;
  font-weight: bold;
  font-size: 6vw;
  transition: 0.01s ease;
  border-radius: 0 3px 3px 0;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* При наведении на кнопки добавляем фон кнопок */
.slider .next:hover,
.slider .previous:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
/* При клике на кнопки добавляем фон кнопок */
.slider .next:active,
.slider .previous:active{
  background-color: rgba(4, 55, 22, 0.829);
}

.all-dots {
  width: 100%;
  position: absolute;
  bottom: 1vw;
  text-align: center;
}

.dot {
  width: 2vw;
  height: 0.5vw;
  margin: 5px 7px;
  padding: 0;
  display: inline-block;
  background-color: #faa61a;
  border-radius: 5px;
  cursor: pointer;
}

.dot:hover {
  background-color: rgba(24, 25, 25, 0.457);
}

.dot-active {
  background-color: rgba(24, 25, 25, 0.815);
}

.circle {
  border-radius: 50%;
}

.show-off {
  display: none;
}

/*адаптив на экраны до 768px (планшет)*/

@media (max-width:769px) {
  .slider{
    max-height: none;
  }
  .all-dots {
    bottom: 3vw;
  }
  .dot {
    width: 1.5vw;
    height: 1.5vw;
    background-color: rgb(22, 222, 244);
    border-radius: 50%;
  }
  .dot:hover {
    background-color: rgba(24, 25, 25, 0.457);
  }
  .dot-active {
    background-color: rgba(24, 25, 25, 0.815);
  }
}

/*адаптив на экраны до 425px (мобильный телефон)*/

@media (max-width:426px) {
  .slider{
      max-height: none;
  }
  .all-dots {
      bottom: 2vw;
  }
  .dot {
    background-color: transparent;
    width: 1.5vw;
    height: 3vw;
    margin: 5px 3px;
    border: 2vw solid transparent; 
    border-bottom: 2vw solid yellow;
    border-radius: 0;
  }
  .dot:hover {
    background-color: transparent;
    border-bottom: 2vw solid rgba(24, 25, 25, 0.457);
  }
  .dot-active {
    background-color: transparent;
    border-bottom: 2vw solid rgba(24, 25, 25, 0.815);;
  }
  .tittle {
    display: none;
  }
}